 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');

h1, h2{
   margin: 0;
}

.material-icons{
   align-self: center;
   justify-self: end;
}
 body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
 }

 .container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 7fr;
 }

.article{
   background-color: rgb(208, 210, 218);
   grid-column: 2 / 3;
}

.sidebar{
   background-color: rgb(74, 166, 237);
   color: whitesmoke;
   display: grid;
   grid-row: 1 /3;
}

.logo{
   display: grid;
   grid-template-columns: 1fr 4fr;
   gap: 10px;
   margin: 50px 25px 25px 25px;
}

.nav-top, .nav-bottom{
   display: grid;
   grid-template-columns: 1fr 4fr;
   gap: 10px;
   margin-bottom: 50px;
}

nav div div{
   align-self: center;
}

.header{
   background-color: whitesmoke;
   display: grid;
   grid-template-columns: 2fr 1fr;
   padding: 15px 45px;
   gap: 15px;
}

.search-bar, 
.head-shortcuts, 
.head-welcome,
.buttons{
   display: flex;
   align-items: center;
   gap: 10px;
}
.head-shortcuts, 
.buttons{
   justify-content: flex-end;
   
}

#search{
   width: 100%;
}

.profile-img-sm{
   width: 45px;
}
#profile-img-lg{
   width: 65px;
}

#name-sm{
   font-size: 1rem;
   font-weight: 600;
}

#welcome{
   font-weight: 700;
}

#name-lg{
   font-weight: 700;
   font-size: 1.2rem;
}

.head-welcome p{
   margin: 10px 0;
}

button{
   border: none;
   padding: 10px 25px;
   border-radius: 15px;
   margin: 0 10px;
   background-color: rgb(74, 166, 237);
   color: whitesmoke;
   transition: 0ms;
}

button:hover{
   background-color: rgb(24, 134, 218);
   cursor: pointer;
}

input[type="search"]{
   background-color: rgb(208, 210, 218);
   border: none;
   border-radius: 20px;
   line-height: 2rem;
}

.cards{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.article{
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.trending{
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: center;
   gap: 10px;
}

.trending img{
   justify-self: end;
}
.trending p{
   margin: 0;
}